<mobject class="MProperties"><item key="BufferLength"><mobject class="MInt" value="8192"></mobject></item><item key="CpuWatchDog"><mobject class="MInt" value="0"></mobject></item><item key="DxDevice"><mobject class="MInt" value="0"></mobject></item><item key="MaxCpuConsumption"><mobject class="MInt" value="95"></mobject></item><item key="StickyFocus"><mobject class="MInt" value="1"></mobject></item></mobject>